body {
  font-family: "Tahoma", sans-serif;
  color: #333;
}

.main-header {
  margin: 80px auto;
  line-height: 1.6;
  font-size: 24px;
}

.main-header--text-block {
  display: block;
}

.main-content {
  margin-bottom: 130px;
}

.video {
  margin-bottom: 20px;
}

.form {
  padding: 0 15px;
  border: 5px solid #2727d9;
}

.form-header {
  margin: 30px auto;
  font-size: 20px;
  font-weight: bold;
}

.form-control {
  margin-bottom: 10px;
  font-size: 18px;
  border: 1px solid #333;
}

.btn {
  padding: 20px;
  font-size: 18px;
  color: #fff;
  background-color: #3c3cdd;
}

.form-btn {
  margin-bottom: 30px;
}

.features {
  margin-bottom: 100px;
}

.features-header {
  margin-bottom: 80px;
  font-weight: bold;
  font-size: 24px;
}

.feature-item {
  height: 160px;
}

.feature-text {
  margin-top: 20px;
  font-size: 16px;
  font-weight: bold;
}

.features-btn {
  margin-top: 100px;
}

.clients-header {
  margin-bottom: 70px;
  font-weight: bold;
  font-size: 24px;
}

.clients-fotos__client {
  margin-bottom: 30px;
}