h1, h2, h3 {
  text-align: center;
}

h3 {
  text-decoration: underline;
}

.misstake {
  text-decoration: line-through;
}

a {
  text-decoration: none;
  font-weight: bold;
}

.recipe {
  display: inline-block;
  width: 300px;
  padding: 20px;
  font-style: italic;
  list-style-type: none;
  border: 2px dashed #79553D;
  background-color: #DED0A6;
}